@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.root-pane {
    -fx-background-color: #FFFFFF;
}

.menu-button {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-font-family: "Press Start 2P", -apple-system;
}
.menu-title {
    -fx-text-fill: #000000;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Press Start 2P", -apple-system;
}
.center-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-font-family: "Press Start 2P", -apple-system;
    -fx-padding: 0 8;
}

